.lale{
    margin-top: 71px;
}
.iptWin{
    margin-top: 20px;
}
.iptWind{
    margin-top: 20px;
}
.iptWin input{
    height: 50px;
}
/*.iptBox{*/
/*    width: 900px;*/
/*}*/
.btnle{
    /*margin-left: 14px;*/
    margin-top: 25px;
    /*width: 200px;*/
}
/*.bgBtn{*/
/*    float: left;*/
/*    margin-top: 10px;*/
/*    margin-left: 50px;*/
/*    width: 1232px;*/
/*}*/
/*.layui-btn{*/
/*    margin-left: 50px;*/
/*}*/